<header id="banner" class="body">
  <h1><a href="{{ SITEURL }}">{{ SITENAME }}
      {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %} </a></h1>
  <nav><ul>
      {% if DISPLAY_PAGES_ON_MENU %}
      {% for current_page in PAGES %}
      <li {% if page %}{% if page == current_page%}class="active"{% endif %}{% endif %}>
        <a href="{{ SITEURL }}/{{ current_page.url }}">{{ current_page.title }}</a>
      </li>
      {% endfor %}
      {% endif %}
      {% for cat, null in categories %}
      <li {% if cat == category and not article %}class="active"{% endif %}>
	<a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
      {% endfor %}
      {% for title, link in MENUITEMS %}
      <li><a href="{{ SITEURL }}/{{ link }}">{{ title }}</a></li>
      {% endfor %}
  </ul></nav>
</header>
